// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.
// Include functions first
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "bootstrap/scss/functions";

// Customize some defaults
$primary-color: #070D1E;
$secondary-color: #000;
$green-color: #55CE63;
$orange-color: #FF902F;
$white-color: #FFf;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//

@import "icon-list";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255 255 255 / 50%);
}

.login-form-con {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $primary-color;
}
.login-title{
  h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 13px;
  }
  > span{
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    color: $white-color;
    text-transform: capitalize;
  }
}
.login-form-con figure{
  margin-bottom: 40px;
}
.form-main-con{
  padding: 57px 60px 61px;
  width: 706px;
  border-radius: 26px;
  background: #5F4DFF1A;
  border: 1.5px solid #929AF6;
}
.form-box{
  span a{
    text-decoration: none;
    color: rgb(255 255 255 / 50%);
    &:hover{
      color: #5f4dff;
    }
  }
  ul{
    margin-bottom: 30px;
  }
  ul li{
    text-align: left;
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  ul li label{
    font-weight: 600;
    padding-left: 24px;
    color: $white-color;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  ul li input{
    width: 100%;
    font-size: 16px;
    color: #D9D9D9;
    line-height: 18px;
    border-radius: 55px;
    padding: 13px 24px 15px;
    background: $white-color;
    border: 1px solid $white-color;
    &::placeholder{
      font-size: 16px;
      color: #D9D9D9;
      line-height: 18px;
    }
    &:focus{
      outline: none;
      border-color: #929af6;
    }
  }
  button{
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: $white-color;
    text-align: center;
    border-radius: 55px;
    background: #5F4DFF;
    padding: 14px 10px;
    margin-bottom: 27px;
  }
}
// MOBILE RESPONSIVE
@media screen and (max-width: 991px) {
  .form-main-con {
    width: 635px;
    padding: 47px 50px 51px;
  }
}
@media screen and (max-width: 767px) {
  .login-form-con {
    padding: 0 15px;
  }
  .form-main-con {
    width: 100%;
    padding: 35px 30px 40px;
  }
  .form-box ul li input {
    padding: 11px 24px 13px;
  }
  .form-box button {
    font-size: 18px;
    padding: 12px 10px;
  }
  .login-form-con figure img {
    width: 100%;
  } 
  .login-title>span {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 30px;
  }
  .form-box ul li label {
    padding-left: 16px;
  }

}
@media screen and (max-width: 575px) {
  .login-form-con figure {
    margin-bottom: 30px;
  }
  .form-main-con {
    padding: 32px 20px 38px;
  }
  body {
    font-size: 14px;
  }
  .form-box ul li {
    margin-bottom: 15px;
  }
  .form-box ul {
    margin-bottom: 20px;
  }
}