// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.
// Include functions first
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "bootstrap/scss/functions";

// Customize some defaults
$primary-color: #070D1E;
$secondary-color: #000;
$green-color: #55CE63;
$orange-color: #FF902F;
$white-color: #FFF;
$light-grey-color: #ECECEC;
// FONTS
@font-face {
  font-family: 'circular_stdmedium';
  src: url('../fonts/circular-std-medium-500-webfont.woff2') format('woff2'),
       url('../fonts/circular-std-medium-500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'circular_stdbold';
  src: url('../fonts/fontsfree-net-circularstd-bold-webfont.woff2') format('woff2'),
       url('../fonts/fontsfree-net-circularstd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'circular_stdbook';
  src: url('../fonts/fontsfree-net-circular-std-book-webfont.woff2') format('woff2'),
       url('../fonts/fontsfree-net-circular-std-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'helveticaregular';
  src: url('../fonts/helvetica-webfont.woff2') format('woff2'),
       url('../fonts/helvetica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'helveticabold';
  src: url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
       url('../fonts/helvetica-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//

@import "icon-list";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255 255 255 / 50%);
}

.login-form-con {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $primary-color;
}
.login-title{
  h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 13px;
  }
  > span{
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    color: $white-color;
    text-transform: capitalize;
  }
}
.login-form-con figure{
  margin-bottom: 40px;
}
.form-main-con{
  padding: 57px 60px 61px;
  width: 706px;
  border-radius: 26px;
  background: #5F4DFF1A;
  border: 1.5px solid #929AF6;
}
.form-box{
  span a{
    text-decoration: none;
    color: rgb(255 255 255 / 50%);
    &:hover{
      color: #5f4dff;
    }
  }
  ul{
    margin-bottom: 30px;
  }
  ul li{
    text-align: left;
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  ul li label{
    font-weight: 600;
    padding-left: 24px;
    color: $white-color;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  ul li input{
    width: 100%;
    font-size: 16px;
    color: #D9D9D9;
    line-height: 18px;
    border-radius: 55px;
    padding: 13px 24px 15px;
    background: $white-color;
    border: 1px solid $white-color;
    &::placeholder{
      font-size: 16px;
      color: #D9D9D9;
      line-height: 18px;
    }
    &:focus{
      outline: none;
      border-color: #929af6;
    }
  }
  button{
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: $white-color;
    text-align: center;
    border-radius: 55px;
    background: #5F4DFF;
    padding: 14px 10px;
    margin-bottom: 27px;
  }
}
.dashboard-header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-header{
  position: fixed;
  top: 0;
  z-index: 999;
  margin-bottom: 42px;
  padding: 16px 46px;
  border-radius: 16px;
  background: $primary-color;
}
.header-menu > ul {
  gap: 15px;
  display: flex;
  align-items: center;
}
.search-bar input{
  width: 287px;
  font-size: 14px;
  line-height: 14px;
  border: none;
  color: hsla(0, 0%, 100%, .6980392157);
  font-family: "circular_stdmedium";
  border-radius: 6px;
  background: hsla(0, 0%, 100%, .2);
  padding: 12px 15px;
  &::placeholder{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFFB2;
    font-family: 'circular_stdmedium';
  }
}
.search-btn {
  border: none;
  background: transparent;
  position: absolute;
  right: 15px;
  color: #FFFFFFB2;
  top: 50%;
  transform: translateY(-50%);
}
.nav-link {
  background: #FFFFFF33;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-color;
  text-decoration: none;
    ::after{
      display: none;
  }
  i{
    font-size: 24px;
  }
  small{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex !important;
    font-size: 10px;
    line-height: 10px;
    align-items: center;
    justify-content: center;
    font-family: "circular_stdmedium";
    background: $green-color;
    position: absolute;
    right: -3px;
    top: -4px;
  }
}
.person-name{
  color: #fff;
  text-decoration: none;
  display: flex !important;
  align-items: center;
  gap: 5px;
}
.person-name{
  > span{
    font-size: 15px;
    line-height: 15px;
    font-family: "circular_stdmedium";
  }
  &::after{
    content: "\f107";
    font-family: "Font Awesome 6 free";
    border: none;
    margin: 0;
    font-weight: 700;
  }
}
.user-img .online{
  border: 2px solid #fff;
  height: 10px;
  width: 10px;
  background-color: #55ce63;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  display: inline-block;
}
// side bar
#sidebar-menu {
  background: #070D1E;
  border-radius: 20px;
  width: 250px;
  position: fixed;
  top: 114px;
  height: 100%;
  overflow: auto;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}
.sidebar-vertical{
  padding: 24px 30px;
}
.sidebar-vertical .menu-title {
  margin-bottom: 20px;
  margin-top: 3px;
  span{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: $white-color;
    position: relative;
    padding-left: 9px;
    font-family: "circular_stdmedium";
    &:after{
      left: 0;
      top: 50%;
      width: 3px;
      height: 3px;
      content: "";
      border-radius: 50%;
      position: absolute;
      background: #FF902F;
      transform: translateY(-50%);
    }
  }
}
.sidebar-vertical li a{
  display: flex;
  text-decoration: none;
  align-items: center;
  span{
    font-size: 15px;
    line-height: 15px;
    color: #909294;
    font-family: "circular_stdmedium";
  }
}
.newly-added-features{
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  padding-left: 10px;
  color: $white-color;
}
.sidebar-vertical li{
  margin-bottom: 24px;
}
.sidebar-vertical li a i {
  font-size: 24px;
  color: #909294;
  padding-right: 9px;
}
.noti-dot{
  position: relative;
  &::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #55ce63;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
  }
}
#sidebar-menu::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

#sidebar-menut::-webkit-scrollbar-thumb {
  background: red; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}
.content {
  margin-left: 250px;
  margin-top: 120px;
}
.content {
  padding: 0 30px 30px;
}
.page-title h1{
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 13px;
  color: #212529;
  font-family: "circular_stdmedium";
}
.breadcrumb-item {
  font-size: 15px;
  line-height: 15px;
  color: #4D5154;
  font-family: "circular_stdmedium";
  a{
    text-decoration: none;
    color:#373B3E;
  }
}
.content-header {
  display: flex;
  align-items: end;
  margin-bottom: 28px;
  justify-content: space-between;
}
.add-employee a{
  font-size: 15px;
  line-height: 15px;
  text-transform: capitalize;
  display: inline-block;
  text-decoration: none;
  color: $white-color;
  background: $orange-color;
  font-family: "circular_stdmedium";
  border-radius: 6px;
  padding: 10px 36px 10px 37px;
  i{
    padding-right: 4px;
  }
}
.search-employee-box ul{
  gap: 24px;
  display: grid;
  align-items: center;
  grid-template-columns: 26.7% 26.7% 15.3% 26.7%;
}
.input-blcok {
  position: relative;
}
.focus-label{
  font-size: 14px;
  font-family: "circular_stdmedium";
  opacity: .4;
  pointer-events: none;
  z-index: 1;
  color: #7a7c7f;
  margin-bottom: 0;
  transition: all .2s ease;
  position: absolute;
  top: -8px;
  left: 12px;
  transform-origin: left top;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform: translate3d(8px, 22px, 0) scale(1);
}
.input-blcok input,#mySelect{
  width: 100%;
  font-size: 14px;
  color: #D3D3D4;
  font-family: "circular_stdmedium";
  padding: 15px 20px 16px;
  border: 1px solid #D3D3D4;
  border-radius: 5px;
  height: 50px;
  &:focus{
    outline: auto;
  }
}
.input-blcok input::placeholder{
  color: #D3D3D4;
}
#mySelect:focus{
  outline: none;
}
.input-blcok .form-focus + .focus-label{
  opacity: 1;
  font-weight: 300;
  top: -20px;
  font-size: 12px;
  z-index: 1;
}
.select2-container{
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  height: 49px;
  border-radius: 6px;
  border: 1px solid #D6D6D6;
}
.search-input button {
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  border-radius: 6px;
  background: $green-color;
  padding: 17px 15px;
  text-align: center;
  color: $white-color;
}
.search-employee-box {
  margin-bottom: 34px;
}
.staff-box {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.staff-box-item {
  padding: 10px;
  background: #FFFBFB;
  border-radius: 16px;
  border: 1px solid #D6D6D6;
  h4{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 6px;
    color: #3E3E3E;
    font-family: "circular_stdmedium";
  }
  span{
    font-size: 14px;
    line-height: 14px;
    color: #9A9A9A;
    font-family: "circular_stdmedium";
  }
}
.staff-box-item figure {
  width: 81px;
  height: 81px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 10px;
  img{
    width: 100%;
  }
}
.profile-action{
  top: 10px;
  right: 10px;
  position: absolute;
  .dropdown-toggle::after{
    display: none;
  }
}
.profile-action > a{
  color: #7A7C7F;
  text-decoration: none;
}
.profile-action .dropdown-menu.show {
  right: 0 !important;
  left: auto !important;
}
.profile-action .dropdown-item {
  font-size: 14px;
}
.dropdown-item{
  font-family: "circular_stdmedium";
}
// 
.topnav-dropdown-header {
  border-bottom: 1px solid #ecedee;
  text-align: center;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
}
.topnav-dropdown-header .notification-title {
  color: #373b3e;
  display: block;
  float: left;
  font-size: 14px;
}
.topnav-dropdown-header .clear-noti {
  color: #fc133d;
  float: right;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
}
.notifications .notification-list li a {
  display: block;
  padding: 12px;
  border-radius: 2px;
}
.notifications .notification-list li {
  margin-top: 0;
  border-bottom: 1px solid #f5f6f7;
}
.notifications .noti-content {
  height: 290px;
  width: 350px;
  overflow-y: auto;
  position: relative;
}
.notifications .notification-list li .list-item .list-body .message-time {
  color: #7a7c7f;
  float: right;
  font-size: 11px;
  font-family: "circular_stdmedium";
}
.notifications .notification-list li .list-item .list-body .message-author {
  color: #373b3e;
  float: left;
  font-weight: 500;
  width: 175px;
  margin-bottom: 5px;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "circular_stdmedium";
}
.notifications .notification-list li .list-item .list-body .message-content {
  color: #373b3e;
  font-size: 13px;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notifications .notification-list li .list-item .list-body {
  padding: 0 0 0 50px;
}
.notifications .notification-list li .list-item .list-left {
  height: 48px;
  position: absolute;
  width: 48px;
}
.topnav-dropdown-footer {
  border-top: 1px solid #ecedee;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
}
.topnav-dropdown-footer a {
  display: block;
  text-align: center;
  color: #373b3e;
  text-decoration: none;
}
ul.notification-list {
  list-style: none;
  padding: 0;
}
.notifications .notification-list li .noti-title {
  color: #373b3e;
}
.notifications .notification-list li .noti-details {
  color: #909294;
  margin: 0;
  color: #909294;
  margin: 0;
  font-size: 14px;
  margin-bottom: 5px;
  font-family: "circular_stdmedium";
}
.notifications .notification-list li .list-item .list-body .message-content {
  color: #373b3e;
  font-size: 13px;
  display: block;
  max-width: 100%;
  overflow: hidden;
  font-family: "circular_stdmedium";
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notification-message a{
  text-decoration: none;
}
.clearfix {
  clear: both;
}
.notifications .notification-list li .notification-time {
  font-size: 12px;
  line-height: 1.35;
  color: #bcbebf;
}
.chat-block figure{
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  margin-right: 10px;
  img{
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
  }
}
// Employee Form model
.custom-modal .modal-content .modal-header {
  border: 0;
  justify-content: space-between;
  padding: 33px 40px 0;
}
.custom-modal .modal-content .modal-body {
  padding: 34px 40px 50px;
}
.col-form-label {
  padding: 0 0 5px 0;
  font-size: 12px;
  color: #373b3e;
  display: block;
  font-family: "circular_stdmedium";
}
.custom-modal .modal-content .modal-header .modal-title {
  font-size: 22px;
  line-height: 22px;
  color: #434343;
  font-family: 'circular_stdbold';
}
.custom-modal .form-control {
  border: 1px solid #D3D3D4;
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
  color: #4d5154;
  height: 44px;
  line-height: 2;
  width: 100%;
  padding: 11px 15px;
  &:focus{
    outline: none;
  }
}
.btn-close{
  background: none;
  opacity: 1;
  &:focus{
    outline: none;
    box-shadow: none;
  }

}
.custom-modal .modal-content .modal-header .btn-close span {
  color: #434343;
  background: no-repeat;
  font-size: 38px;
}
.custom-table tr th{
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding: 18px 0;
  font-family: 'circular_stdbold';
}
.custom-table {
  width: 720px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F2F2F2;
}
.custom-table td {
  font-size: 12px;
  line-height: 12px;
  padding: 12px 20px;
  color: #434343;
  border: none;
  font-family: "circular_stdmedium";
}
.submit-section {
  text-align: center;
  margin-top: 40px;
  float: left;
  width: 100%;
}
.submit-section .submit-btn {
  font-size: 18px;
  font-weight: 600;
  min-width: 200px;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  color: $white-color;
  background: $green-color;
}
.custom-modal .modal-content{
  border-radius: 22px;
  border: none;
  box-shadow: none;
}
.form-group label:before {
  content: '';
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.form-group label {
  position: relative;
  cursor: pointer;
}
.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.custom_check .checkmark {
  position: absolute;
  top: 3px;
  left: -6px;
  height: 18px;
  width: 18px;
  border: 1px solid #e4e4e8;
  background-color: #fff;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}
.custom_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom_check {
  display: inline-block;
  position: relative;
  font-size: 14px !important;
  margin-bottom: 15px;
  padding-left: 0;
  cursor: pointer;
  font-weight: 400 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  line-height: 18px;
}
.custom_check input:checked~.checkmark {
  background-color: #ff9b44;
  border-color: #ff9b44;
}
.custom_check input:checked~.checkmark:after {
  display: block;
}
.custom_check .checkmark:after {
  content: "\f00c";
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  position: absolute;
  display: none;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 11px;
}
.attendance-employee-box ul {
  gap: 20px;
  display: grid;
  grid-template-columns: 69% 13.4% 15%;
}
a.attendance-avatar {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  figure{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  span{
    font-size: 13px;
    color: #373B3E;
    white-space: nowrap;
  }
}
.attendance-employee-box {
  margin-bottom: 36px;
}
.attendance-employee-table{
  border: 1px solid #d3d3d4;
}
.attendance-employee-table thead th {
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  color: #545454;
  background: #EEE9F9;
  padding: 19px 16px 20px;
  &:first-child{
    border-radius: 15px 0 0 0;
  }
  &:last-child{
    border-radius: 0 15px 0 0;
  }
}
.attendance-employee-table tbody tr{
  border-bottom: 1px solid #F0F0F0;
  &:last-child{
    border-bottom: 1px solid transparent;
  }
}
.attendance-employee-table tbody tr:last-child td:first-child{
  border-radius: 0 0 0 15px;
}
.attendance-employee-table tbody tr:last-child td:last-child{
  border-radius: 0 0 15px 0;
}
.attendance-employee-table tbody td {
  padding: 16px 16px;
  vertical-align: middle;

}
.attendance-employee-table tbody td:first-child{
  font-size: 13px;
  line-height: 13px;
  color: #373B3E;
}
.attendance-employee-table{
  border-radius: 15px;
  border-spacing: 0;
  border-collapse: separate;
}
#attendance_info .modal-body{
  gap: 20px;
  display: grid;
  grid-template-columns: 54% 43.1%;
}
.timeline {
  h4{
    font-family: "circular_stdmedium";
    font-size: 20px;
    line-height: 20px;
    color: #212529;
    margin-bottom: 32px;
  }
  border: 1.5px solid #D6D6D6;
  border-radius: 16px;
  padding: 26px 22px 58px;
  ul{
    position: relative;
    &::after{
      content: "";
      border: 1px solid #D9D9D980;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 4px;
    }
    li{
      position: relative;
      margin-left: 18px;
      margin-bottom: 27px;
      &:last-child{
        margin-bottom: 0;
      }
      &::before{
        content: "";
    width: 10px;
    height: 10px;
    border: 2px solid #FFAB00;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -18px;
      }
      
    }
    li span{
      font-size: 16px;
      line-height: 16px;
      color: #999;
      margin-bottom: 5px;
      font-family: "circular_stdmedium";
    }
    li small{
      font-size: 12px;
      line-height: 12px;
      color: #999;
      font-family: "circular_stdmedium";
      i{
        padding-right: 3px;
      }
    }
  }
}
.timesheet-box{
  border: 1.5px solid #d6d6d6;
  border-radius: 16px;
  padding: 26px 22px 20px;
  h4{
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #212529;
    font-family: "circular_stdmedium";
    small{
      font-size: 15px;
      line-height: 15px;
      color: #999;
    }
  }
}
.puch-det {
  margin-bottom: 30px;
  background: #B9E9B7;
  border-radius: 10px;
  padding: 21px 15px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span{
    font-size: 16px;
    line-height: 16px;
    color: #199014;
    font-family: "circular_stdmedium";
  }
  small{
    font-size: 14px;
    line-height: 14px;
    color: #199014B2;
    font-family: "circular_stdmedium";
  }
}
.punch-out{
  margin-bottom: 0;
  background: #FFE9D5;
  span{
    color: #FF902F;
  }
  small{
    color: #FF902F;
  }
}
.working-hour-box {
  gap: 20px;
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 40% 55%;
}
#attendance_info .modal-dialog{
  width: 100%;
  max-width: 900px;
}
.break-box{
  color: #0764E6;
  background: #E6EFFC;
}
.overtime-box{
  color: #FFAB00;
  background: #FFF2D7;
}
.stats-box ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 14px;
  &:last-child{
    margin-bottom: 0;
  }
  span{
    font-size: 16px;
    line-height: 16px;
    font-family: "circular_stdmedium";
  }
  small{
    font-size: 16px;
    line-height: 16px;
    font-family: "circular_stdmedium";
  }
}
// MOBILE RESPONSIVE
@media screen and (max-width: 1440px){
  #sidebar-menu {
    top: 94px;
    width: 230px;
}
.content {
  margin-top: 100px;
  margin-left: 230px;
}
.search-employee-box ul {
  grid-template-columns: 25.7% 25.7% 15.3% 25.5%;
}
.attendance-employee-box ul {
  grid-template-columns: 61% 18% 16.5%;
}
}
@media screen and (max-width: 1199px){
  .staff-box {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
  .search-employee-box ul {
    grid-template-columns: 23.3% 23.3% 20% 23.3%;
}
.attendance-employee-box ul {
  grid-template-columns: 54% 22% 18.5%;
}

}
@media screen and (max-width: 991px) {
  .form-main-con {
    width: 635px;
    padding: 47px 50px 51px;
  }
  .dashboard-header {
    padding: 16px 20px;
  }
 .header-logo img {
  width: 200px;
 }
 .search-bar input {
  width: 236px;
  }
  #sidebar-menu {
    transform: translateX(-100%);
  }
  .content {
    margin-top: 100px;
    margin-left: 0;
  }
  #mobile_btn {
    font-size: 20px;
    color: #fff;
}
.menu-active{
  transform: translateX(0) !important;
}
.attendance-employee-box {
  margin-bottom: 26px;
}
#attendance_info .modal-dialog {
  max-width: 96%;
}
#attendance_info .modal-body {
  grid-template-columns: 63% 34.1%;
}
.custom-modal .modal-content .modal-header .modal-title {
  font-size: 20px;
  line-height: 20px;
}
.timeline h4{
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 22px;
}
.timesheet-box h4{
  font-size: 18px;
  line-height: 18px;
}
.custom-modal .modal-content .modal-body {
  padding: 24px 30px 40px;
}
}
@media screen and (max-width: 767px) {
  .search-employee-box ul {
    grid-template-columns: 47.6% 47.6%;
  }
  select#mySelect {
    height: 45px;
}
  .login-form-con {
    padding: 0 15px;
  }
  .form-main-con {
    width: 100%;
    padding: 35px 30px 40px;
  }
  .form-box ul li input {
    padding: 11px 24px 13px;
  }
  .form-box button {
    font-size: 18px;
    padding: 12px 10px;
  }
  .login-form-con figure img {
    width: 100%;
  } 
  .login-title>span {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 30px;
  }
  .form-box ul li label {
    padding-left: 16px;
  }
  .search-bar {
    display: none;
  }
  .input-blcok input {
    padding: 13px 20px 14px;
  }
  .search-input button {
    padding: 15px 15px;
  }
  .select2-container--default .select2-selection--single {
    height: 45px;
  }
  .content {
    margin-top: 100px;
    margin-left: 0;
    padding: 0 15px 30px;
}
.search-employee-box {
  margin-bottom: 24px;
}
.submit-section .submit-btn {
  font-size: 16px;
  min-width: 180px;
}
.input-blcok input, #mySelect {
  height: 47px;
  padding: 13px 20px 14px;
}
.attendance-employee-box ul {
  grid-template-columns: 42% 27% 23.5%;
}
#attendance_info .modal-body {
  grid-template-columns: 100%;
}
.timeline {
  padding: 26px 22px;
}
}
@media screen and (max-width: 575px) {
  .profile-action .dropdown-menu.show {
    right: auto !important;
    left: auto !important;
}
  .header-menu>ul {
    gap: 0;
  }
  .content-header {
    align-items: flex-start;
    margin-bottom: 18px;
    flex-direction: column;
    gap: 10px;
}
  .search-employee-box ul {
    grid-template-columns: 100%;
    gap: 10px;
  }
  .staff-box {
    gap: 15px;
    grid-template-columns: 100%;
  }
  .login-form-con figure {
    margin-bottom: 30px;
  }
  .form-main-con {
    padding: 32px 20px 38px;
  }
  body {
    font-size: 14px;
  }
  .form-box ul li {
    margin-bottom: 15px;
  }
  .form-box ul {
    margin-bottom: 20px;
  }
  .nav-link {
    display: none;
  }
  .header-logo img {
    width: 180px;
}
.header-logo {
  margin-top: -6px;
}
.header-logo img {
  width: 160px;
}
.attendance-employee-box ul {
  gap: 10px;
  grid-template-columns: 100%;
}
.working-hour-box {
  gap: 10px;
  margin-bottom: 10px;
  grid-template-columns: 100%;
  text-align: center;
}
.puch-det {
  margin-bottom: 10px;
  padding: 16px 15px;
  flex-direction: column;
  gap: 5px;
}
.stats-box ul li {
  padding: 16px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
}